[gh]
  protocol = https

[core]
  excludesfile = /opt/boxen/config/git/gitignore
  autocrlf = input
  safecrlf = false

[push]
  default = simple

[color]
	ui = always

[credential]
  helper = /opt/boxen/bin/boxen-git-credential

[user]
	name = Toan Nguyen
	email = toan.nguyen@envato.com
	signingkey = 3FF0DEA4

[alias]
	co = checkout
	ci = commit -m
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
  h = log --pretty=format:'%Cblue%h%Creset %C(yellow)%d%Creset %s  %Cgreen%cr, %an' --abbrev-commit --date=relative --graph

[hub]
protocol = https
